@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("wallpaper2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Shizuru', cursive;
    font-size: 3rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.pop-button {
    padding: 3rem;
    min-width: 300px;
    max-width: 320px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pop-button:hover {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#popupBody {
    width: 80%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* transition: all 5s ease-in-out; */
    /* margin: 25% auto; */
    height: 80vh;
    align-self: center;
    justify-self: center;
}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    padding: .5rem;
    border: 2px solid rgb(204, 47, 47);
    border-radius: 50%;
}

.white-text {
    color: white;
    font-size: 2rem;
}

.text-capitalize {
    text-transform: capitalize;
}

.popupContent {
    margin-top: 2rem;
}

.popupContent ul li {
    list-style: none;
    padding: 2rem 5rem;
}

@media screen and (max-width:768px) {
    .pop-button {
        padding: 1rem;
        width: 50%;
    }
    #popupBody {
        width: 90% !important;
    }
    .white-text {
        font-size: 1.2rem;
    }
    .popupContent ul li {
        padding: 1rem 0rem;
    }
    #cerrar {
        font-size: 1.2rem;
    }
    body {
        height: auto;
    }
}